$left-big: -52.8rem;
$animation-duration: 20s;
.animate-cloud {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0rem;
  left: 0rem;
  font-size: 0rem;

  &--before {
    z-index: 9;
  }
  &--static {
    z-index: 7;
    .item {
      animation: inherit !important;
      -webkit-animation: inherit !important;

    }
  }
  &--after {
    z-index: 7;
  }
  .pos-relative {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .item {
    position: absolute;
    left: $left-big;
    
    text-align: center;
    @media (max-width: 1600px) {
      width: 42.8rem; /* 528 */
      height: 23.2rem; /* 323 */
      left: -42.8rem;
    }
    @media (max-width: 991px) {
      width: 32.8rem; /* 528 */
      height: 13.2rem; /* 323 */
      left: -32.8rem;
    }

    @media (max-width: 767px) {
      width: 32.8rem; /* 528 */
      height: 13.2rem; /* 323 */
      left: -32.8rem;
    }
    @media (max-width: 480px) {
      width: 32.8rem; /* 528 */
      height: 13.2rem; /* 323 */
      left: -32.8rem;
    }
    &--style1 {
      background-image: url(../images/cloud1.png);
      width: 52.8rem; /* 528 */
    height: 33.2rem; /* 323 */

    }
    &--style2 {
      background-image: url(../images/cloud1.png);
      width: 56.8rem; /* 528 */
    height: 26.7rem; /* 323 */

    }
    &--style3 {
      background-image: url(../images/cloud1.png);
       width: 56.8rem; /* 528 */
    height: 26.7rem; /* 323 */

    }
    &--style4 {
      background-image: url(../images/cloud1.png);
      width: 52.8rem; /* 528 */
    height: 33.2rem; /* 323 */

    }
    background-repeat: no-repeat;
    background-size: contain;

    animation: animate-cloud 20s linear infinite;
    -webkit-animation: animate-cloud 20s linear infinite;
    /*position*/
    &.item-10 {
      top: 0%;
    }
    &.item-20 {
      top: 20%;
    }
    &.item-25 {
      top: 25%;
    }
    &.item-30 {
      top: 30%;
    }
    &.item-40 {
      top: 40%;
    }
    &.item-50 {
      top: 50%;
    }
    &.item-60 {
      top: 60%;
    }
    &.item-70 {
      top: 70%;
    }
    &.item-90 {
      top: 90%;
    }
    /*delay*/
    &--60s {
      animation-duration: 60s;
      -webkit-animation-duration: 60s;
    }
    &--30s {
      animation-duration: 30s;
      -webkit-animation-duration: 30s;
    }
    &--90s {
      animation-duration: 90s;
      -webkit-animation-duration: 90s;
    }
    &--80s {
      animation-duration: 80s;
      -webkit-animation-duration: 80s;
    }
    &--50s {
      animation-duration: 50s;
      -webkit-animation-duration: 50s;
    }
    &--100s {
      animation-duration: 100s;
      -webkit-animation-duration: 100s;
    }
    &--33s {
      animation-duration: 33s;
      -webkit-animation-duration: 33s;
    }
    &--45s {
      animation-duration: 45s;
      -webkit-animation-duration: 45s;
    }
    &--90s {
      animation-duration: 90s;
      -webkit-animation-duration: 90s;
    }
    &--40s {
      animation-delay: 40s;
      -webkit-animation-delay: 40s;
    }
    &--37s {
      animation-duration: 37s;
      -webkit-animation-duration: 37s;
    }
    &--42s {
      animation-duration: 42s;
      -webkit-animation-duration: 42s;
    }
    &--30s {
      animation-duration: 30s;
      -webkit-animation-duration: 30s;
    }
    &--21s {
      animation-duration: 21s;
      -webkit-animation-duration: 21s;
    }
    &--38s {
      animation-duration: 38s;
      -webkit-animation-duration: 38s;
    }
    &--42s {
      animation-duration: 42s;
      -webkit-animation-duration: 42s;
    }
    &--21 {
      animation-duration: 30s;
      -webkit-animation-duration: 30s;
    }
    &--33s {
      animation-duration: 33s;
      -webkit-animation-duration: 33s;
    }
    &--45s {
      animation-duration: 45s;
      -webkit-animation-duration: 45s;
    }
    &--50s {
      animation-duration: 50s;
      -webkit-animation-duration: 50s;
    }
    &--30s {
      animation-duration: 30s;
      -webkit-animation-duration: 30s;
    }
    &--40s {
      animation-duration: 40s;
      -webkit-animation-duration: 40s;
    }
    &--80s {
      animation-duration: 90s;
      -webkit-animation-duration: 90s;
    }
    &--90s {
      animation-duration: 80s;
      -webkit-animation-duration: 80s;
    }
    &--120s {
      animation-duration: 120s;
      -webkit-animation-duration: 120s;
    }
    &--130s {
      animation-duration: 130s;
      -webkit-animation-duration: 130s;
    }
    /*scale*/
    &--scale01 {
      -webkit-transform: scale(0.1);
      transform: scale(0.1);
    }
    &--scale02 {
      -webkit-transform: scale(0.2);
      transform: scale(0.2);
    }
    &--scale03 {
      -webkit-transform: scale(0.3);
      transform: scale(0.3);
    }
    &--scale04 {
      -webkit-transform: scale(0.4);
      transform: scale(0.4);
    }
    &--scale05 {
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
    }
    &--scale06 {
      -webkit-transform: scale(0.6);
      transform: scale(0.6);
    }
    &--scale07 {
      -webkit-transform: scale(0.7);
      transform: scale(0.7);
    }
    &--scale08 {
      -webkit-transform: scale(0.8);
      transform: scale(0.8);
    }
    &--scale09 {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
    &--scale11 {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    &--scale12 {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }
    &--scale13 {
      -webkit-transform: scale(1.3);
      transform: scale(1.3);
    }
    /*opacyti*/
    &--opc01 {
      opacity: 0.1;

    }
    &--opc02 {
      opacity: 0.2
    }
    &--opc03 {
      opacity: 0.3
    }
    &--opc04 {
      opacity: 0.4
    }
    &--opc05 {
      opacity: 0.5
    }
    &--opc06 {
      opacity: 0.6
    }
    &--opc07 {
      opacity: 0.7
    }
    &--opc08 {
      opacity: 0.8
    }
    &--opc09 {
      opacity: 0.9
    }
    /*static*/
    &--static12 {
      left: 10%;
      top: 20%;
    }
    &--static44 {
      left: 40%;
      top: 40%;
    }
    &--static41 {
      left: 40%;
      top: 10%;
    }
    &--static36 {
      left: 30%;
      top: 60%;
    }
    &--static46 {
      left: 40%;
      top: 60%;
    }
    &--static66 {
      left: 40%;
      top: 40%;
    }
    &--static56 {
      left: 50%;
      top: 60%;
    }
    &--static78 {
      left: 70%;
      top: 80%;
    }

  }
}

@keyframes animate-cloud {
  from {
    left: $left-big;
  }
  to {
    left: 130%;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* Hien thi cho Safari and Chrome */
@-webkit-keyframes animate-cloud {
  from {
    left: $left-big;
  }
  to {
    left: 130%;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}