.style-ord {
  background: url("../images/about_list.png") no-repeat left center;
  padding: 0rem 0rem 0rem 2.2rem;
  margin: 2rem 0rem;
}

.dermatitis {
  .info {
    &__title {
      margin-bottom: 4rem;
    }
    &__title-underline {
      text-decoration: underline;
      font-size: 2.8rem;
      text-align: center;
    }
  }
}

.info {

  &__derma-things {
    float: left;
    width: 100%;

    &__img {
      float: left;
      width: 35%;
      img {
        //float: right;
        margin: 0 auto;
      }
    }
    &__content {
      float: left;
      width: 65%;
      padding: 5rem 0rem 0rem 0rem;
      .item {
        background: url("../images/viemda_bg_box.png") no-repeat;
        background-size: 100% 100%;
        color: #0064a1;
        /*border-width: 1.438px;
        border-color: rgb(0, 101, 159);
        border-style: solid;*/
        margin: 0rem 0rem 6rem 0rem;
        padding: 1.5rem 2rem 1.5rem 9rem;
        position: relative;
        span {
          display: block;
          position: absolute;
          bottom: -3.2rem;
          left: 2.2rem;
          font-size: 7rem;
        }
        p {
          font-size: 1.6rem;
          text-align: justify;
        }
      }

    }
  }
  &__derma-expression {
    float: left;
    width: 100%;
    padding: 2.5rem 0rem 0rem 0rem;

    &__content {
      .text {
        font-size: 2rem;
        color: #0064a1;
        margin-bottom: 4rem;
        text-align: justify;

        &.right {
          padding-left: 10rem;
        }
        &.left {
          padding-right: 10rem;
        }
      }
      .item {
        img {
          margin: 0 auto;
        }
      }
    }
  }
  &__derma-reason {
    float: left;
    width: 100%;
    color: #0064a1;
    padding: 6rem 0rem 6rem 0rem;
    &__img {
      img {
        margin: 0 auto;
      }
    }
    &__content {
      padding: 6rem 0rem 0rem 0rem;
      text-align: justify;
    }
    .reason-content {
      float: left;
      width: 100%;
      .text {
        text-align: justify;
        margin: 0rem 0rem 4rem 0rem;
        img {
          display: inline;
          margin: -0.2rem 0.8rem 0rem 0rem;
        }
      }
      &--before {
      }
      &--after {
        padding: 4rem 0rem 0rem 0rem;
        .info__title-underline {
          margin-bottom: 4.8rem;
        }
        .left {
          padding-right: 6rem;
        }
        .right {
          .thumnail-reason {
            .item {
              margin-bottom: 1.2rem;
              .img {
                border: solid 0.7rem #00659f;
                img {
                  width: 100%;
                }
              }
              .text-title {
                text-align: center;
                padding: 0.8rem 0rem;
                font-size: 1.5rem;
              }
            }
          }
        }
      }
    }
  }
  &__derma-option {
    float: left;
    width: 100%;
    .info__title {
      width: 75%;
      margin: 0 auto 4rem auto;
    }
    &__content {
      .item {
        color: #0064a1;
        .thumb {
          img {
            width: 100%;
          }
        }
        .title {
          text-align: center;
          margin: 3rem 0rem;
          font-size: 2rem;
        }
        .ders {
          font-size: 1.6rem;
          text-align: justify;
        }
      }
    }
  }
  .text-doc-foo {
    text-align: center;
    color: #0064a1;
    text-transform: uppercase;
    font-style: italic;
    float: left;
    width: 100%;
  }
}