.style-ord {
  background: url("../images/about_list.png") no-repeat left center;
  padding: 0rem 0rem 0rem 2.2rem;
  margin: 2rem 0rem;
  &.top {
    background-position: 0px 5px;
  }
}

.dermatitis {
  .info {
    &__title {
      margin-bottom: 4rem;
    }
    &__title-underline {
      text-decoration: underline;
      font-size: 2.8rem;
      text-align: center;
    }
  }
}

.info {

  &__derma-things {
    float: left;
    width: 100%;

    &__img {
      float: left;
      width: 35%;
      img {
        //float: right;
        margin: 0 auto;
      }
    }
    &__content {
      float: left;
      width: 65%;
      padding: 5rem 0rem 0rem 0rem;
      .item {
        /* background: url("../images/viemda_bg_box.png") no-repeat;
        background-size: 100% 100%; */
        color: #0064a1;
        border-width: 1.438px;
        border-color: rgb(0, 101, 159);
        border-style: solid;
        border-bottom: none;

        margin: 0rem 0rem 6rem 0rem;
        padding: 1.5rem 2rem 1.5rem 9rem;
        position: relative;
        &:before {
          content: '';
          position: absolute;
          width: 3%;
          height: 1px;
          background: rgb(0, 101, 159);
          display: block;
          bottom: 0px;
          left: 0px;
        }
        &:after {
          content: '';
          width: 92%;
          height: 1px;
          position: absolute;
          background: rgb(0, 101, 159);
          display: block;
          bottom: 0px;
          right: 0px;
        }
        span {
          display: block;
          position: absolute;
          bottom: -3.2rem;
          left: 3%;
          font-size: 7rem;
        }
        p {
          font-size: 1.6rem;
          text-align: justify;
        }
      }

    }
  }
  &__derma-expression {
    float: left;
    width: 100%;
    padding: 2.5rem 0rem 0rem 0rem;

    &__content {
      .text {
        font-size: 2rem;
        color: #0064a1;
        margin-bottom: 4rem;
        text-align: justify;

        &.right {
          padding-left: 10rem;
        }
        &.left {
          padding-right: 10rem;
        }
      }
      .item {
        img {
          margin: 0 auto;
        }
        &:last-child {
          .text:first-child {
            padding-left: 2rem;
          }
        }
      }

    }
  }
  &__derma-reason {
    float: left;
    width: 100%;
    color: #0064a1;
    padding: 6rem 0rem 6rem 0rem;
    &__img {
      img {
        margin: 0 auto;
      }
    }
    &__content {
      padding-top: 6rem;
      text-align: justify;
    }
    .reason-content {
      float: left;
      width: 100%;
      .text {
        text-align: justify;
        margin: 0rem 0rem 4rem 0rem;
        img {
          display: inline;
          margin: -0.2rem 0.8rem 0rem 0rem;
        }
      }
      &--before {
      }
      &--after {
        padding: 4rem 0rem 0rem 0rem;
        .info__title-underline {
          margin-bottom: 4.8rem;
        }
        .left {
          padding-right: 6rem;
        }
        .right {
          .thumnail-reason {
            .item {
              margin-bottom: 1.2rem;
              .img {
                border: solid 0.7rem #00659f;
                img {
                  width: 100%;
                }
              }
              .text-title {
                text-align: center;
                padding: 0.8rem 0rem;
                font-size: 1.5rem;
              }
            }
          }
        }
      }
    }
  }
  &__derma-option {
    float: left;
    width: 100%;
    .info__title {
      width: 75%;
      margin: 0 auto 4rem auto;
    }
    &__content {
      .item {
        color: #0064a1;
        margin-bottom: 2rem;
        .thumb {
          img {
            width: 100%;
          }
        }
        .title {
          text-align: center;
          margin: 3rem 0rem;
          font-size: 2rem;
          text-transform: uppercase;
        }
        .ders {
          font-size: 1.6rem;
          text-align: justify;
        }
      }
    }
  }
  .text-doc-foo {
    text-align: center;
    color: #0064a1;
    text-transform: uppercase;
    font-style: italic;
    float: left;
    width: 100%;
    margin: 6rem auto;
  }
}

.guide .info__guide-example .list-blockslt .item {
  -webkit-transition: top 1s ease, left 1s ease;
  -moz-transition: top 1s ease, left 1s ease;
  -o-transition: top 1s ease, left 1s ease;
  -ms-transition: top 1s ease, left 1s ease;
}

@media (max-width: 991px) {
  .bg-cloud {
    background-size: cover;
  }
  .info__derma-things__img img {
    float: left;
    max-width: 90%;
  }
  .info__derma-things__content .item span {
    bottom: -3rem;
    // left: 1.7rem;
    font-size: 5rem;
  }
  .info__derma-expression__content .text.right {
    padding: 0rem 0rem 0rem 0rem;
    font-size: 1.4rem;
  }
  .info__derma-expression__content .text {
    font-size: 1.4rem;

  }
  .info__derma-expression__content .text.left {
    padding: 0rem 2rem 0rem 0rem;
  }
  .info__derma-things__content .item p,
  .info__derma-reason__content,
  .info__derma-reason .reason-content .text,
  .info__derma-option__content .item .ders {
    font-size: 1.4rem;
  }
  .info__derma-option__content .item .title {
    font-size: 1.8rem;
  }
  .info__title {
    font-size: 2rem;
  }
  .info .text-doc-foo {
    font-size: 1.4rem;
  }
  .dermatitis .info__title-underline {
    font-size: 2rem;
  }
  .info__derma-reason .reason-content--after .left {
    padding-right: 2rem;
  }
  .info__derma-option .info__title {
    width: 100%;
  }
  .info__derma-option__content .item .title {
    margin: 1rem 0rem;
  }
}

@media (max-width: 768px) {
  .info__derma-things__content .item span {
    /* left: 1rem; */
  }
  .dermatitis .info__title-underline {
    margin-bottom: 2rem;
  }
  .info__derma-reason__img img {
    max-width: 60%;
  }
  .info__derma-expression__content .thumb {
    margin-bottom: 2rem;

  }
  .info__derma-expression__content .text {
    margin-bottom: 1rem !important;
  }
}

@media(max-width: 767px) {
  .info__derma-things__content .item {
    background: none;
    padding-left: 5rem;
    span {
      width: 5%;
      display: block;
      text-align: center;
    }
  }
  .info__derma-expression__content .thumb {
    margin-top: 2rem;
  }
  .info__title {
    font-size: 1.8rem;
  }
  .info__derma-things__img {
    width: 100%;
  }
  .info__derma-things__content {
    width: 100%;
    padding-top: 2rem;
    .item {
      margin-bottom: 3rem;
    }
  }
  .info__derma-things__img img {
    float: none;
    margin: 0 auto;
  }
  .bg-cloud {
    background-size: cover;
  }
  .dermatitis .info__title {
    margin-bottom: 2rem;
  }
  .info__derma-expression__content .item:last-child .text:first-child {
    padding-left: 0rem;
  }
}

@media (max-width: 528px) {
  .info__derma-things__content .item span {
    font-size: 4rem;
    bottom: -2.5rem;
  }
}

@media(max-width: 480px) {
  .info__derma-things__content .item:after {
    width: 90%;
  }
}