sup {
  font-size: 65%;
}
.blog {
  &__ders {
    width: 100%;
    position: relative;
    z-index: 9;

    &__title {
      color: #00659f;
      font-size: 4.7rem;
      text-align: center;
      text-transform: uppercase;
      line-height: 1.3em;
      float: left;
      width: 80%;
      margin: 0rem 0rem 9rem 0rem;
    }
  }
}

.blog {
  position: relative;
  overflow: hidden;
  padding: 9rem 0rem;
  &.blog--intro {
    background: url("../images/home_bg-intro.jpg") no-repeat top center;
    background-size: cover;

    .blog__thumb {
      right: 0rem;
      bottom: 0rem;

    }
    .blog__ders {
      width: 72%;
    }
  }
  &.blog--nguyennhan {
    background: url("../images/home_bg-nguyennhan.jpg") no-repeat top center;
    background-size: cover;
    .blog__thumb {
      left: 0rem;
      bottom: 0rem;
      width: 67%;
    }
    .blog__ders {
      width: 100%;
    }
  }
  &.blog--dieutri {
    background: url("../images/home_bg-dieutri.jpg") no-repeat top center;
    background-size: cover;
    .blog__thumb {
      right: 0rem;
      bottom: 0rem;
      width: 87%;
      img {
        float: right;
      }
    }
    .quote-info {
      float: left;
      width: 53rem;
      .btn-link {
        float: left;
      }
    }
  }
  &.blog--about {
    background: url("../images/home_bg-about.jpg") no-repeat top center;
    background-size: cover;
    .blog__thumb {
      left: 5rem;
      bottom: 0rem;
      width: 87%;
    }
    .quote-info {
      float: right;
      width: 53rem;
      .btn-link {
        float: left;
      }
      .btn-link {
        float: right;
      }
    }
  }
  &.blog--share {
    background: url("../images/home_bg-share.png") no-repeat top center;
    background-size: cover;
    .blog__ders {
      width: 70rem;
      margin: 0 auto;
      &__title {
        width: 100%;
        margin-bottom: 3rem;
      }
      .quote-info {
        width: 100%;
      }
      .btn-link {
        border-radius: 4px;
        background-color: rgb(133, 225, 252);
        width: 15.2rem;
        height: 4.6rem;
        line-height: 4.6rem;
        display: block;
        font-size: 2.8rem;
        color: #fff;
        clear: both;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        float: right;
        margin-bottom: 3rem;
      }
    }

  }
  .list-children {
    margin: 0rem;
    width: 100%;
    font-size: 0rem;
    .item {
      margin: 0rem 0rem;
      width: 33.3%;
      padding: 0rem 1rem;
      vertical-align: top;
      .list-children__thumb {
        width: 20rem;
        height: 20rem;
        border-radius: 100%;
        overflow: hidden;
        border: solid 1rem #79dffc;
        margin: 0 auto;
      }
      .list-children__name {
        font-size: 1.8rem;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
        height: 10.43rem;
        /* line-height: 10.43rem; */
        background: url(../images/home_bg-cloud.png) no-repeat center;
        background-size: 100% 100%;
        margin-top: 1rem;
        padding: 2.5rem 0rem 0rem 0rem;
      }
      .list-children__ders {
        width: 20rem;
        clear: both;
        font-size: 1.8rem;
        color: #0064a1;
        margin: 3rem auto;
      }
    }
  }
  &__thumb {
    position: absolute;
    width: 47%;
  }
  .quote-info {
    float: right;
    width: 43rem;
    .title-info {
      font-size: 3rem;
      color: #00659f;
      margin: 0rem 0rem 3rem 0rem;
      text-align: left;
    }
    .box {
      clear: both;
      position: relative;
      text-align: justify;

      p {
        margin-bottom: 3rem;
        font-size: 2.2rem;
        color: #00659f;
        clear: both;
      }
      .quote-icon {
        position: absolute;
        display: block;
        &.quote-icon--left {
          left: -4rem;
          top: -1rem;
        }
        &.quote-icon--right {
          right: 0rem;
          bottom: -1rem;

          display: inline;
         /*  margin-left: 1rem;
          margin-top: 1rem; */
        }
      }
    }
    .btn-link {
      display: block;
      clear: both;
      float: right;
      border-radius: 0.9rem;
      background-color: rgb(255, 255, 255);
      box-shadow: 0px 1px 3.88px 0.12px rgba(0, 2, 99, 0.44);
      width: 19.7rem;
      height: 5.7rem;
      line-height: 5.7rem;
      text-align: center;
      font-size: 2.2rem;
      color: #00659f;
      margin-top: 4rem;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.inline-link {
  float: left;
  width: 100%;
  .inline-link__btn {
    border-radius: 13px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 5.82px 0.18px rgba(0, 2, 99, 0.44);
    display: block;
    width: 32%;
    height: 8rem;
    line-height: 8rem;
    text-align: center;
    color: #00659f;
    font-size: 2rem;
    text-decoration: none;
    float: left;
    margin: 2%;

    &:hover {
      text-decoration: none;

    }
  }
}

.pagi-list {
  color: #0064a1;
  font-size: 1.6rem;
}

.pagi-list.right {
  text-align: right;

  .pagination {
    background: #fff;
    position: relative;
    border-style: solid;
    border-width: 0.1rem;
    border-color: rgba(4, 5, 5, 0.2);
    border-radius: 1rem;
    overflow: hidden;
    &:before {

      background-image: -moz-linear-gradient(90deg, rgb(4, 5, 5) 0%, rgb(255, 255, 255) 100%);
      background-image: -webkit-linear-gradient(90deg, rgb(4, 5, 5) 0%, rgb(255, 255, 255) 100%);
      background-image: -ms-linear-gradient(90deg, rgb(4, 5, 5) 0%, rgb(255, 255, 255) 100%);
      content: '';
      opacity: 0.2;
      position: absolute;
      top: 0rem;
      left: 0rem;
      display: block;
      width: 100%;
      height: 100%;
    }

  }
  li:first-child, li:last-child {
    a {
      border: none;
    }
  }
  li a {
    height: 40px;
    display: block;
    background: none;
    border: solid 0.5px rgba(0, 0, 0, 0.1);
    border-bottom: none;
    border-top: none;
    border-radius: 0px;

    &:hover, &.active {
      background: #e0e0e0;
    }
  }
  li span {
        background-color: rgba(255,255,255,0.4);
  }
  img {
    display: inline-block;
    vertical-align: middle;
  }
}

.share .blog--share {
  background: url("../images/share_bg-cloud.jpg") no-repeat;
  background-size: cover;
  .blog__ders {
    width: 100%;
    text-align: center;
  }
  .list-inline {
    .item {
      width: 31%;
      margin: 0rem 0rem 0rem 0rem;
      vertical-align: top;
      .list-children__name {
        width: 70%;
        margin: 2rem auto 0rem auto;
      }
      .list-children__ders {
        width: 80%;
      }
    }
  }
}

@media (min-width: 1600px) {
  .container-fluid {
    max-width: 150rem;
    margin: 0 auto;
  }
  .blog.blog--intro .blog__thumb {
    width: 40%;
  }
  .blog .quote-info {
    width: 40%;
  }
  .blog.blog--nguyennhan {
    .blog__thumb {
      width: 50%
    }
  }
  .blog.blog--dieutri {
    .quote-info {
      width: 50%; 
    }
  }
  .blog .quote-info .box p {
    font-size: 3rem;
  }
  .blog.blog--about .blog__thumb {
    width: 50%;
    img {
      width: 70%;
    }
  }
  .blog.blog--about .quote-info {
    width: 50%;
  }
}
@media (max-width: 1199px) {
  .header__menu {
    .list-inline {
      .item a {
        font-size: 1.2rem;
      }
    }
  }

  .blog {
    padding: 4rem 0rem;
    &__ders__title {
      font-size: 3rem;
      margin-bottom: 6rem;
    }
  }
  .blog.blog--intro .blog__thumb {
    height: 100%;
    top: 0rem;
    img {
      max-height: 100%;
      float: right;
    }
  }
  .inline-link .inline-link__btn {
    height: 5rem;
    line-height: 5rem;
    font-size: 1.4rem;
  }
}

@media (max-width: 1024px) {
  .blog.blog--about .blog__thumb {
    width: 40%;
  }
  .blog.blog--nguyennhan .blog__thumb {
    width: 55%;
  }
  .blog .quote-info .box .quote-icon.quote-icon--left {
      left: 0rem;
      top: -2rem;
  }
}
@media (max-width: 991px) {
  
  .blog.blog--nguyennhan .blog__thumb {
    width: 50%;
  }
  .blog.blog--about .blog__thumb {
    width: 27%;
    left: 0rem;
  }
}
@media (max-width: 767px) {
  .blog__thumb {
    position: static;
    width: 100% !important;
    float: left;
    clear: both;
  }
  .blog.blog--nguyennhan .blog__thumb {
    margin-left: -2rem;
    float: left;
    width: 70% !important;
  }
  .blog.blog--dieutri .blog__thumb {
    margin-right: -2rem;
    float: right;
  }
  .blog.blog--dieutri .quote-info, .blog .quote-info, .blog.blog--about .quote-info, .blog.blog--intro .blog__ders {
    width: 100%;
    margin-bottom: 2rem;
  }
  .blog__ders__title {
    width: 100%;
  }
  .list-inline.inline-link {
    text-align: center;
  }
  .inline-link .inline-link__btn {
    display: inline-block;
    vertical-align: top;
    float: none;
    width: 40%;
    line-height: 1.3em;
    height: auto;
    padding: 1rem;
  }
  .blog.blog--intro .blog__thumb {
    margin-right: -2rem;
    float: right;
  }
  .blog__ders {
    float: left;
  }
  .blog__ders__title {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .blog .quote-info .title-info {
    font-size: 2rem;
  }
  .blog .quote-info .box p {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
  }
  .blog .quote-info .box .quote-icon {
    width: 2rem;
  }
  .blog .quote-info .box .quote-icon.quote-icon--left {
    left: -1rem;
    top: -1.5rem;
  }
  .header__top__logo img {
    width: 40%;
  }
  .header__top__face img {
    width: 40%;
    float: right;
  }
  .blog .quote-info .btn-link {
    height: auto;
    line-height: inherit;
    padding: 1rem;
    width: auto;
  }
  .blog {
    background-size: cover !important;
    padding-bottom: 0rem;
  }
  .footer__left {
    width: 50%;
  }
  .footer__right {
    width: 50%;
    img {
      float: right;
    }
  }
  .blog.blog--share .blog__ders {
    width: 100%;
  }
  .blog .list-children {
    text-align: center;
    .item {
      margin-bottom: 3rem;
      width: 50%;
      .list-children__name {
        width: 100%;
        margin: 1rem auto;
      }
    }
  }
  /* chiase */
  .share .blog--share .list-inline .item {
    width: 100%;
  }
  .share .blog--share .list-inline .item .list-children__name {
    width: 237px;
    margin: 1rem auto;
  }
  .share .blog--share .list-inline .item .list-children__ders {
    width: 100%;
    font-size: 1.4rem;
    margin-top: 1rem;
  }
  .pagi-list.right li a {
    padding: 1rem 1rem;
    height: auto;
  }

}
@media (max-width: 480px) {
  .footer__left {
    width: 100%;
    margin-bottom: 4rem;
  }
  .footer__right {
    width: 100%;
    img {
      float: none;
      margin: auto;
      width: 120px;
    }
  }
  .blog .list-children {
    text-align: center;
    .item {
      margin-bottom: 3rem;
      width: 100%;
      .list-children__name {
        width: 30rem;
        margin: 1rem auto;
      }
    }
  }
}