.header {
  //border: solid red 1px;
  float: left;
  width: 100%;
  position: relative;
  z-index: 9;
  .container-fluid {
    position: relative;
  }
  &__top {
    float: left;
    width: 100%;
    &__logo {
      float: left;
      width: 50rem;
      margin: 1rem 0rem 2rem 0rem;
    }
    &__face {
      float: right;
      width: 5.3rem;
      position: absolute;
      bottom: 2rem;
      right: 1.5rem;

    }
  }
  &__menu {
    background: #0d659f;
    clear: both;
    float: left;
    width: 100%;
    position: relative;
    border-bottom: solid 0.3rem #1db0e3;;

    .list-inline {
      text-align: center;
      padding: 0rem 0rem 0rem 0rem;
      margin: 0rem;
      .item {
        a {
          font-family: $font-utmavo_bold;
          font-size: 1.6rem;
          color: #fff;
          text-transform: uppercase;
          display: block;
          cursor: pointer;
          padding: 1rem 1rem;
          -webkit-transition: all 0.25s linear;
          -moz-transition: all 0.25s linear;
          -ms-transition: all 0.25s linear;
          -o-transition: all 0.25s linear;
          transition: all 0.25s linear;
          &:hover, &.active {
            color: #0d659f;
            background: #fff;
          }

        }
        .drop-menu {
          display: none;
          position: absolute;
          width: 100%;
          list-style: none;
          right: 2rem;

          min-width: 20rem;
          padding: 0rem;
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          z-index: 1;
          padding-top: 1rem;
          &:before {
            content: '';
            //display: block;
            position: absolute;
            top: 0.2rem;
            right: 1rem;
            color: #fff;
            border-bottom: 8px dashed;
            border-bottom: 8px solid\9;
            border-right: 8px solid transparent;
            border-left: 8px solid transparent;
          }
          li {
            border-bottom: solid 1px #448dba;
            background-color: #0d659f;

            a {
              font-family: $font-utmavo;
              font-size: 1.7rem;
              color: #fff;
              cursor: pointer;
            }
            &:hover {
              a {
                background: #fff;
                color: #0d659f;
              }

            }
            a.active {
              background: #fff;
              color: #0d659f;
            }
          }
        }
      }
    }
  }

}

.content {
  //border: solid red 1px;
  float: left;
  width: 100%;
  position: relative;
  z-index: 8;
}

.footer {
  //border: solid red 1px;
  float: left;
  width: 100%;
  background-color: #e1f3ff;
  padding: 3rem 0rem;
  &__left {
    float: left;
    font-size: 1.4rem;
    line-height: 1.3em;
    .bold {
      font-family: $font-utmavo_bold;
      text-transform: uppercase;
    }
    a {
      text-decoration: underline;
      color: #000;
    }

    &__logo {
      float: left;
      padding: 1rem 1rem 0rem 0rem;
      width: 15%;
    }
    &__info {
      width: 85%;
      float: left;
      p {
        margin-bottom: 0.5rem;
      }
    }
  }
  &__right {
    float: right;
  }
}

* {
  outline: none !important;;
}
.header__menu  {
  .list-inline {
    .item {
      position: relative;
      position: relative;
      width: 16.66%;
      float: left;
      padding: 0rem 0rem 0rem 0rem;
      &:hover {
        .drop-menu {
          display: block;
        }
      }
    }
  }



}
@media(max-width: 1366px) {
  .container-fluid {
    max-width: 1260px;
    width: 100%;
  }
}
@media (max-width: 991px) {
  .header__menu {
    .list-inline {
      //text-align: left;
      .item {
        margin: 0rem;
        padding: 0rem;
        a {
          font-size: 1.2rem;
          padding: 1rem 0.5rem;
        }
      }
    }
  }
  .header__top {
    &__logo {
      margin-bottom: 1rem;
      img {
        width: 300px;
      }
    }
    &__face {
      bottom: 1rem;
    }
  }
}
@media(max-width: 767px) {
  .footer__left__info p {
    font-size: 1.2rem;
  }
  .button-bar {
    width: 3rem;
    // height: 3rem;
    background: #00659f;
    padding: 0.5rem;
    // border: solid 1px #fff;
    position: relative;
    margin: 0.5rem 0rem;
    z-index: 9;
    cursor: pointer;
    float: right;
    .icon-bar {
      height: 1px;
      width: 100%;
      display: block;
      background: #fff;
      margin: 0.5rem 0rem;
      &:last-child {
        margin-bottom: 0rem;
      }
    }
  }
  .header__menu .list-inline {
    height: 0rem;
    overflow: hidden;
    float: left;
    width: 100%;
    clear: both;
    float: left;
    transition: all 0.25s linear;
    -webkit-transition: all 0.25s linear;
    .item {
      width: 100%;
      border-bottom: solid 1px #fff;
      text-align: left;
      &:last-child {
        margin-bottom: 2rem;
      }
      a {
        box-shadow: inset 0px 3px 12px 0px rgba(0,0,0,0.2);
        -webkit-box-shadow: inset 0px 3px 12px 0px rgba(0,0,0,0.2);
        -moz-box-shadow: inset 0px 3px 12px 0px rgba(0,0,0,0.2);
        -ms-box-shadow: inset 0px 3px 12px 0px rgba(0,0,0,0.2);
      }
    }

  }
  
  .header__menu.mobile {
    .list-menu {
      height: auto;
    }
  }
  .header__menu .list-inline .item .drop-menu {
    position: static;
    margin-bottom: 1rem;
    padding-left: 1rem;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    li {

      a {
        font-size: 1.4rem;

      }
    }
  }
  .header__menu .list-inline .item {
    margin-bottom: 0.5rem;
    border-color: rgba(255,255,255,0.4);
  }

}