.blog.blog--ykien {
  .blog__ders {
    //width: 100rem;
    width: 100%;
    .list-inline {
      text-align: center;
      font-size: 0rem;
      .item {
        //margin: 0 4rem;
        .list-doctor__thumb {
          width: 22rem;
          height: 28rem;
          overflow: hidden;
          box-shadow: 0px 3px 10px #ccc;
          margin: 0 auto;
          img {
            display: block;
            margin: 0 auto;
            width: 100%;
          }
        }
        .list-doctor__name {
          font-size: 3rem;
          @media(max-width: 991px) {
            font-size: 2rem;
          }
          color: #0064a1;
          margin-top: 2rem;
        }
        .list-doctor__ders {
          // width: 22rem;
          clear: both;
          font-size: 1.8rem;
          @media(max-width: 991px) {
            font-size: 1.3rem;
            // font-family: arial;
          }
          color: #0064a1;
          margin: 2rem auto;
        }
      }
    }
    .livestream-video {
      width: 100%;
      float: left;
      .video-comment {
        width: 100%;
        float: left;
        background-color: rgba(255, 255, 255, 0.5);
        margin-bottom: 5rem;
        .video {
          width: 40%;
          float: left;
          overflow: hidden;
          video {
            //width: 100%;
            // height: 36.3rem;
            display: block;
          }
        }
        .comment {
          width: 40%;
          float: right;
          overflow: hidden;
          .btnFB {
            width: 158px;
            height: 31px;
            background: url("../images/btnFB.png") no-repeat center ;
            background-size: contain;
            margin: 1rem auto;
            display: block;
          }
          .box-cmt {
            /* max-height: 34.3rem;
            overflow: auto; */
            height: 80%;
            overflow-y: auto;
          }
        }
      }
    }
    .post-doctor {
      .title-post {
        margin-bottom: 3rem;
      }
      .post-item {
        width: 100%;
        float: left;
        color: #0064a1;
        text-align: left;
        h3 {
          font-size: 2rem;
          font-family: $font-utmavo_bold;
          text-transform: none;
          margin: 0rem 0rem 1.4rem 0rem;
        }
        p {
          font-size: 2rem;
          line-height: 1.3em;
        }
      }
    }
  }
}

.title-livestream, .title-post {
  font-size: 1.6rem;
  color: #0064a1;
  text-transform: uppercase;
  margin-bottom: 2rem;
  text-align: justify;
}
.ders-more {
  margin-bottom: 4rem;
.shortcontent {
  display: inline;
  *, p, div, a, span, strong {
    display: inline;
  }
}
  .shorten-toggle {
    font-family: $font-utmavo_bold;
    font-size: 1.5rem;
    padding-left: 0.5rem;
  }
}
/**
* jQuery shorten v0.3.1
* https://github.com/amazingSurge/jquery-shorten
*
* Copyright (c) amazingSurge
* Released under the LGPL-3.0 license
*/
*{
  -webkit-transition: all 0s linear;
  -moz-transition: all 0s linear ;
  -o-transition: all 0s linear ;
  transition: all 0s linear ;
}
.shorten-detail {
  display: none;
}

.shorten_expand .shorten-ellipses {
  display: none;
}

.shorten_expand .shorten-detail {
  display: inline;
}
.form-qs {
  position: relative;
  label.error {
    float: left;
    bottom: -2.5rem;
    left: 0rem;
  }
}
@media (max-width: 991px) {
  .blog.blog--ykien .blog__ders .list-inline .item .list-doctor__thumb {
    width: 100%;
    height: auto;
  }
  .blog.blog--ykien .blog__ders .list-inline .item .list-doctor__ders {
    width: 100%;
    margin: 1rem 0rem;
  }
  .blog.blog--ykien .blog__ders .list-inline .item .list-doctor__name {
    margin-top: 1rem;
  }
}
@media(max-width: 767px) {
  .blog.blog--ykien .blog__ders .livestream-video .video-comment .video {
    width: 100%;
  }
  .blog.blog--ykien .blog__ders .livestream-video .video-comment .comment {
    width: 100%;
    margin-top: 2rem;
  }
  .share .blog--ykien .list-inline .item {
    width: 33%;
    margin: 0%;
  }
}
@media (max-width: 480px) {
  .share .blog--share .list-inline .item {
    width: 100%;
    margin-bottom: 2rem;
  }
}

