@import "variables/home";
@import 'fonts';
@import "master";
@import 'mixin/_mixin';
@import 'home';



html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

body {
  @include rem(font-size, 1.6rem);
  font-family: $font-utmavo;
}

a {
  &:hover,
  &:focus {
    text-decoration: none;
    outline: none;
  }
}
img {
  display: block;
  max-width: 100%;
}
#page {
  overflow: hidden;
}

button {
  &:focus {
    outline: none !important;
  }
}