@import 'fonts';
@import 'mixin/_mixin';
@import 'home';

$font-utmavo: 'UTMAvo';
$font-utmavo_bold: 'UTMAvoBold';

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

body {
  @include rem(font-size, 1.6rem);
  font-family: $font-utmavo;
}

a {
  &:hover,
  &:focus {
    text-decoration: none;
    outline: none;
  }
}

button {
  &:focus {
    outline: none !important;
  }
}