@import "variables/home";
@import 'fonts';
@import "master";
@import 'mixin/_mixin';
@import 'home';
@import 'about';
@import 'benhviemda';
@import 'cachdieutri';
@import 'agency';



html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

body {
  @include rem(font-size, 1.6rem);
  font-family: $font-utmavo;
}

a {
  &:hover,
  &:focus {
    text-decoration: none;
    outline: none;
  }
}
img {
  display: block;
  max-width: 100%;
}
#page {
  overflow: hidden;
}

button {
  &:focus {
    outline: none !important;
  }
}
p, h1, h2, h3, h4, h5, h6 {
  margin: 0rem 0rem 0rem 0rem;
}
.bold {
  font-family: $font-utmavo_bold;
}